<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarClase()">
    <ion-item>
      <ion-label position="floating">Nombre de la Clase</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profesor</ion-label>
      <ion-input type="text" [(ngModel)]="profesor" name="profesor" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" name="fecha" required></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>
