.modal-container {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

p {
  margin-bottom: 20px;
  color: #666;
}

ion-button {
  margin-top: 10px;
}
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
