<ion-header>
  <ion-toolbar color="success" class="custom-header">
    <ion-title class="header-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="qr-content">
  <div class="qr-container">
    <h2>Generar QR para tu clase</h2>

    <ion-item class="styled-select">
      <ion-label>Clase</ion-label>
      <ion-select [(ngModel)]="selectedClass" placeholder="Selecciona una clase">
        <ion-select-option *ngFor="let clase of clases" [value]="clase">{{ clase }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón Generar QR -->
    <ion-button expand="block" class="button-base generate-btn" (click)="generateQR()">
      Generar QR
    </ion-button>

    <div *ngIf="qrCodeData" class="qr-output">
      <h3>Código QR</h3>
      <div class="qr-wrapper">
        <img [src]="qrCodeData" alt="Código QR" />
      </div>

      <!-- Botón Compartir QR -->
      <ion-button expand="block" class="button-base share-btn" style="margin-top: 30px;" (click)="shareQR()">
        Compartir QR
      </ion-button>
    </div>
  </div>
</ion-content>
