<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-docente"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Título con estilo más pequeño para una mejor jerarquía -->
  <ion-text color="primary">
    <h2>Generar QR</h2>
  </ion-text>

  <!-- Campo de entrada para el nombre -->
  <ion-item>
    <ion-label position="stacked">Nombre para Generar QR</ion-label>
    <ion-input [(ngModel)]="name" placeholder="Ingrese su nombre aquí"></ion-input>
  </ion-item>

  <!-- Botón para generar el código QR -->
  <ion-button class="small-button" expand="full" (click)="generateQRCode()">Generar Código QR</ion-button>

  <!-- Mostrar el QR generado si está disponible -->
  <div class="qr-code-container" *ngIf="qrCodeImage">
    <img [src]="qrCodeImage" alt="Código QR generado" />
  </div>

  <!-- Botón para compartir el código QR si está disponible -->
  <ion-button expand="full" color="secondary" *ngIf="qrCodeImage" (click)="shareQRCode()">Compartir Código QR</ion-button>

</ion-content>
