
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Lista de opciones del menú -->
    <ion-list>
      <ion-item *ngFor="let option of menuOptions" [routerLink]="option.url">
        <ion-icon slot="start" [name]="option.icon" class="menu-icon"></ion-icon>
        <ion-label>{{ option.titulo }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home Alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Contenedor del saludo -->
    <div class="welcome-container">
      <h1 class="welcome-title">{{ saludo }}</h1>
      <p class="welcome-subtitle">Explora tus opciones y registra tu asistencia fácilmente.</p>
    </div>

    <!-- Tarjeta con la fecha actual -->
    <ion-card class="date-card">
      <ion-card-content>
        <p>{{ currentDate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="info-card">
      <ion-card-header>
        <ion-card-title>Clases Asistidas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Has asistido a {{ attendedClassesCount }} clases.</p>
      </ion-card-content>
    </ion-card>



    <!-- Botón principal -->
    <div class="button-container">
      <ion-button expand="block" routerLink="/camara" color="secondary" class="action-button">
        Registra Tu Asistencia
      </ion-button>
    </div>
  </ion-content>
</div>
