<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Lista de opciones del menú -->
    <ion-list>
      <ion-item *ngFor="let option of menuOptions" [routerLink]="option.url">
        <ion-icon slot="start" [name]="option.icon" class="menu-icon"></ion-icon>
        <ion-label>{{ option.titulo }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>Home Docente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Encabezado principal -->
    <div class="header-container">
      <h1 class="welcome-title">{{ saludo }}</h1>
      <p class="welcome-subtitle">Bienvenido al sistema docente. Explora tus opciones.</p>
    </div>

       <!-- Tarjeta con la fecha actual -->
       <ion-card class="date-card">
        <ion-card-content>
          <p>{{ currentDate }}</p>
        </ion-card-content>
      </ion-card>


    <!-- Contenido principal -->
    <div class="content-container">
      <!-- Botón para Generar Código QR -->
      <ion-button
        class="action-button"
        expand="block"
        routerLink="/generar-qr"
        color="success"
      >
        Generar Código QR
      </ion-button>

      <!-- Botón para Ver Asistencia -->
      <ion-button
        class="action-button"
        expand="block"
        routerLink="/asistencia"
        color="primary"
      >
        Revisar Asistencia
      </ion-button>

      <ion-button expand="full" routerLink="/visualizar-clase">Ver Clases</ion-button>
    </div>
  </ion-content>
  <app-footer></app-footer>
</div>
