/* Header - Registro */
.custom-toolbar-register {
  --background: #28a745; /* Verde moderno */
  --color: white;
  text-align: center;
}

.app-title-register {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Página de Registro */
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.center-content {
  text-align: center;
}

/* Título del Formulario */
.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--ion-color-dark);
  margin-bottom: 20px;
}

/* Formulario de Registro */
.register-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.input-item {
  --background: var(--ion-color-light);
  --border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-item ion-label {
  font-size: 0.9rem;
  color: var(--ion-color-dark);
}

.input-item ion-input {
  --padding-start: 10px;
  font-size: 1rem;
}

/* Botón Registrar */
.register-button {
  --background: #28a745; /* Verde para registro */
  --background-hover: #218838;
  --border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.register-button:disabled {
  opacity: 0.7;
}

/* Spinner de Carga */
.spinner-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container ion-spinner {
  --color: var(--ion-color-primary);
}
