<ion-header>
  <ion-toolbar class="custom-toolbar-register">
    <ion-title class="app-title-register">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-page">
  <!-- Tarjeta de Registro -->
  <ion-card class="register-card">
    <ion-list>
      <!-- Nombre -->
      <ion-item class="input-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      <!-- Apellido -->
      <ion-item class="input-item">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
      </ion-item>

      <!-- Correo Electrónico -->
      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input
          [(ngModel)]="email"
          type="email"
          name="email"
          required
        ></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="password"
          type="password"
          name="password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <!-- Botón de Registro -->
    <div class="ion-text-center">
      <ion-button
        expand="block"
        class="register-button"
        (click)="register()"
        [disabled]="isLoading"
      >
        {{ isLoading ? 'Registrando...' : 'Registrarse' }}
      </ion-button>
    </div>
  </ion-card>

  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>

<app-footer></app-footer>
