<ion-header>
  <ion-toolbar class="custom-toolbar-register">
    <ion-title class="app-title-register">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-page">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="center-content">
        <!-- Logo o título de la app -->
        <ion-card-header class="app-title">
          <ion-card-title>Registro de Usuario</ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Formulario de registro -->
  <ion-card class="register-card">
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-list>

        <!-- Campo Nombres -->
        <ion-item class="input-item">
          <ion-label position="floating">Nombres</ion-label>
          <ion-input
            [(ngModel)]="user.name"
            name="name"
            type="text"
            required
          ></ion-input>
        </ion-item>

        <!-- Campo Apellidos -->
        <ion-item class="input-item">
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input
            [(ngModel)]="user.username"
            name="username"
            type="text"
            required
          ></ion-input>
        </ion-item>

        <!-- Campo Correo Electrónico -->
        <ion-item class="input-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input
            [(ngModel)]="user.email"
            name="email"
            type="email"
            required
          ></ion-input>
        </ion-item>

        <!-- Campo Contraseña -->
        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <!-- Botón Registrar -->
      <div class="ion-padding ion-text-center">
        <ion-button
          type="submit"
          expand="block"
          [disabled]="!registerForm.form.valid || isLoading"
          class="register-button"
        >
          Registrar
        </ion-button>
      </div>

      <!-- Spinner de carga -->
      <div class="spinner-container" *ngIf="isLoading">
        <ion-spinner></ion-spinner>
      </div>
    </form>
  </ion-card>
</ion-content>
