<ion-content>
  <!-- Formulario para registrar asistencia -->
  <ion-list>
    <!-- Nombre del Alumno -->
    <ion-item>
      <ion-label position="stacked">Nombre del Alumno</ion-label>
      <ion-input [(ngModel)]="nombreAlumno" name="nombreAlumno" readonly></ion-input>
    </ion-item>

    <!-- Asignatura Escaneada -->
    <ion-item>
      <ion-label position="stacked">Asignatura (Escaneada)</ion-label>
      <ion-input [(ngModel)]="scanResult" name="scanResult" readonly></ion-input>
    </ion-item>

    <!-- Botones -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="startScan()" color="primary">
            Escanear QR
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="registrarClase()" color="secondary">
            Registrar Asistencia
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <!-- Toast para mostrar mensajes -->
  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [duration]="3000"
    [color]="toastColor"
    position="bottom"
  ></ion-toast>
</ion-content>
