<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="app-title">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">
  <!-- Spinner de carga -->
  <app-spinner-carga *ngIf="isLoading" class="overlay-spinner"></app-spinner-carga>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="center-content">
        <!-- Logo -->
        <ion-card class="logo-card">
          <ion-img src="/assets/images/logo.png" class="logo-img"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tarjeta del formulario -->
  <ion-card class="login-card">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-list>
        <!-- Campo de correo -->
        <ion-item class="input-item">
          <ion-input
            type="email"
            placeholder="Correo electrónico"
            [(ngModel)]="credentials.username"
            name="username"
            #username="ngModel"
            required
          ></ion-input>
        </ion-item>

        <!-- Campo de contraseña -->
        <ion-item class="input-item">
          <ion-input
            type="password"
            placeholder="Contraseña"
            [(ngModel)]="credentials.password"
            name="password"
            #password="ngModel"
            required
          ></ion-input>
        </ion-item>
      </ion-list>

      <!-- Botón de inicio de sesión -->
      <div class="ion-padding ion-text-center">
        <ion-button
          expand="block"
          type="submit"
          [disabled]="!loginForm.form.valid || isLoading"
          class="login-button"
        >
          Iniciar Sesión
        </ion-button>
      </div>
    </form>

    <!-- contraseña -->
    <div class="ion-text-center">
      <ion-button
        (click)="openRecoveryModal()"
        fill="clear"
        class="forgot-password-button"
      >
        ¿Olvidaste tu contraseña?
      </ion-button>
    </div>

  </ion-card>
</ion-content>

<app-footer></app-footer>
