.centrar-spinner {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura si es necesario */
    text-align: center; /* Asegura que el contenido esté centrado */
  }
  
  