.custom-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para resaltar la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    
  }
  
  ion-button {
    --background: #138b23; /* Cambia el color de fondo del botón */
    --border-radius: 10px; /* Bordes redondeados */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para resaltar el botón */
    text-align: center;
   
  }
  