<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Opción Inicio -->
      <ion-item routerLink="/inicio">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <!-- Opción Perfil -->
      <ion-item routerLink="/perfil">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <!-- Botón Cerrar Sesión -->
      <ion-item button (click)="signOut()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main-content">

</div>
